body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.AdContainer {
    /* border: solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#B9D0BA;
    font-size: 1vw;
}

.prev-arrow {
    transform: rotate(180deg);
}

.middle-text {
    display: flex;
}

.adText {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .09rem;
}

.adLink {
    letter-spacing: .05rem;
}

.leftArrow {
    background-color: transparent;
    border: none;
}

.rightArrow {
    background-color: transparent;
    border: none;
}

/* Navigation Bar */

.navBar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    gap: 5%;
}

.search-input-div {
    border-bottom: 0.1vw solid lightgray;
}

.search-input {
    color: rgb(95, 95, 95);
    font-size: 1vw;
    border: none;
    padding: 0.5vw;
}



.sign-in-cart {
    /* border:solid green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.sign-in-links {
    /* border:solid blue; */
    font-size: 1vw;
    font-weight: 550;
    padding: 5%;
    text-wrap: nowrap;
}

.sign-in-links a{
    color: black;
}


/* Nav-Two Bar */

.nav-two {
    text-align: center;
    
}

.nav-two-bar {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 3vw;
}

.nav-item {
    list-style: none;
    font-size: 1.1vw;
    font-family: arial;
    padding:0.8vw;
}

.nav-item:hover{
    border-top: 3px solid black;
}

.nav-item a {
    color: black;
    text-decoration: none;
}


/* Image Container and Heading */

.imageContainer {
    position: relative;
}
.mainPic {
    position: absolute;
    width: 100%;
    z-index: 0;
}

.full-width-heading-container {
 /* border: solid blue; */
 position: absolute;
 z-index: 1;
 left: 50%;
 transform: translate(-50%, 35%);
 width: 38%;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-flow: column;
 
}

.full-width-heading {
    /* border: solid green; */
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5vw;
    margin: 0.8vw;
    line-height: 120%;
    letter-spacing: .07rem;
}

.full-width-copy {
    /* border: solid salmon; */
    margin: 0.8vw;
    font-size: 1.6vw;
    line-height: 120%;
  
}

.anchor {
    /* border: solid yellow; */
    text-transform: uppercase;
    color: white;
    font-size: 1.1vw;
    font-weight: 600;
    background-color: black;
    width: 21%;
    height: 3vw;
    padding: 0.5vw;
    margin: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anchor a {
    color: white;
    text-decoration: none;
}

.anchor:hover {
    background-color: rgb(37, 37, 37);
}